#one {
  grid-area: box1;
}
#two {
  grid-area: box2;
}
#three {
  grid-area: box3;
}

#first-review {
  margin-top: 4.4rem;
  margin-left: 1.4rem;
}
#second-review {
  margin-top: 1.5rem;
  margin-left: 6.4rem;
}
#third-review {
  margin-top: 1.5rem;
  margin-left: 11rem;
}

#special-p {
  margin-right: 0.4rem;
}
